@charset "utf-8";

.subPg{ position:relative; }
/* .subPg span, .subPg p, .subPg h2, .subPg h3, .subPg h4, .subPg h5, .subPg h6, .subPg strong, .subPg li, .subPg a{ color:#000; } */

/* .sub_port .pin-spacer{ margin:0 !important; padding:0 !important; height:0 !important; } */

.sub_port{ position:relative; width:100%; }
.subTopslideWrap{ position:relative }
.subTopSlide{ position:relative; width:100vw; height:100vh; background:#000; box-sizing: border-box; display:flex; justify-content:center; align-items:center;}
.subTopSlide .subTitle{ position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); transition:.3s ease-out;  z-index:1; }
.subTopSlide .subTitle .char{ font-family:"Lalezar", system-ui; font-size:120px; color:#ffa500; font-weight:700; letter-spacing:10px; text-transform: uppercase; }
.subTopSlide .subTitle.motion .char{ display:inline-block; animation:slide_up .4s cubic-bezier(.5,0,.5,1)both; animation-delay:calc(100ms * var(--char-index)) }
@keyframes slide_up{
    0%{transform:translateY(30px); opacity: 0;}
    30%{transform:translateY(30px); opacity: 0;}
}

/* 포트폴리오 */
.fixedWrap{ position:relative; width:100%; padding:30px 0 0; /*background:#fff*/ }
.portHead{ max-width:1440px; height:auto; margin:0 auto; padding:10px; }
.portHead h2{ font-size:35px; font-weight:600; color:#000; }
.portHead h2 span{ font-size:18px; color:#ffa500; padding-left:10px; }
.portHead p{ margin:20px 0 10px; color:#c9c9c9; font-size:16px;  font-weight:400 }

.portFilter_wrap{ width:1440px; margin:auto;  }
.portTab{ display:flex; justify-content: space-between; padding:15px 0; align-items:center; border-bottom:1px solid #c9c9c9; }

.portTab .portFilter{ display:flex; }
.portTab .portFilter span{ color:#000; }
.portTab .portFilter ul{ display:flex; gap:10px; align-items:center; padding-left:10px; }
.portTab .portFilter .port_filtering li.active{ display:block; }
.portTab .portFilter ul li{ position:relative; color:#7C7C7C; cursor:pointer; padding:0 10px; }
.portTab .portFilter ul li:hover{ color:#000;  }
.portTab .portFilter ul li:before, .portFilter ul li:after{ position:absolute; display:inline-block; opacity:0; -webkit-transition: transform .3s, opacity .2s; -moz-transition: transform .3s, opacity .2s; transition: transform .3s, opacity .2s }
.portTab .portFilter ul li:before{ content:'['; left:0; -webkit-transform: translateX(20px); -moz-transform: translateX(20px); transform: translateX(20px); }
.portTab .portFilter ul li:after{ content:']'; right:0; -webkit-transform: translateX(-20px); -moz-transform: translateX(-20px); transform: translateX(-20px) }
.portTab .portFilter ul li:hover:before, .portFilter ul li:hover:after, .portFilter ul li:focus:before, .portFilter ul li:focus:after, .portFilter ul li.active:before, .portFilter ul li.active:after{ opacity:1; -webkit-transform: translateX(0); -moz-transform: translateX(0); transform: translateX(0) }
/* .portTab .portFilter ul li.active{ display:block; color:#000; transition:all 3s; } */

.portFilter_wrap .port_switcher ul{ display:flex; }
.portFilter_wrap .port_switcher .switer-grid{ position:relative; color:#7C7C7C; cursor:pointer; }
.portFilter_wrap .port_switcher .switer-grid:nth-child(2){ padding-left:10px; margin-left:5px; }
.portFilter_wrap .port_switcher .switer-grid:nth-child(2):before{ content:'/'; position:absolute; width:10px; height:100%; left:0; top:0; }
.portFilter_wrap .port_switcher .switer-grid.active{ color:#000 }

.tab-content{ display:none; } 
.tab-content.active{ display:block; } 
.portTab02 { margin-top:20px; }
.portTab02 ul{ display:flex; }
.portTab02 ul li{ position:relative; cursor:pointer; margin:0 10px; overflow:hidden }
.portTab02 ul li span{ display:block; width:100%; height:100%; padding:8px 20px; color:#f19c00; border:1px solid #ffa500;  font-size:14px; box-sizing: border-box; }
.portTab02 ul li:after{ content:attr(data-hover); position:absolute; width:100%; height:100%; left:-100%; top:0; background:#fff; text-align:center; align-content:center; font-size:14px; transition:.3s; overflow:hidden; z-index:-1 }
.portTab02 ul li:hover span, .portTab02 ul li.active span  { color:#fff; transform:translateX(100%); width:100%; height:100%; }
.portTab02 ul li:hover:after, .portTab02 ul li.active:after{ background:#ffa500; left:0%; transform:translateX(0%); }
.portTab02 ul li.active:after span{ color:#fff; }

/* 포트폴리오 cont */
.tabGrid{ padding-bottom:100px; margin-top:40px; }
.portContTab{ display:none; }
.portContTab.active{ display:block; }

.subPortBox{ display:grid; grid-template-columns:1fr 1fr; grid-column-gap:30px; grid-row-gap:30px; }
.subPortBox .portList{ width:100%; overflow:hidden;     box-shadow: 0 0 7px 0 rgba(0, 0, 0, .1); transition: box-shadow .3s ease, transform .3s ease, -webkit-transform .3s ease; }
.subPortBox .portList:hover{ transform: translate3d(0, -6px, 0) !important; box-shadow: 0 .8125rem 1rem rgba(35, 35, 35, .15) !important; }
.subPortBox .portList .portThumb{ height:360px; border-bottom:1px solid #ededed; background:#fff; }
.subPortBox .portList .portThumb img{ width:100%; height:100%; object-fit: contain; }
.subPortBox .portList .portTxt{ position:relative; padding:20px; background:#fff; }
.subPortBox .portList .portTxt ul{ padding:0; }
.subPortBox .portList .portTxt ul .type{ display:inline-block; padding:5px 20px 7px; background:#28bc9e; color:#fff; font-size:13px; line-height: 1; border-radius:50px; }
.subPortBox .portList .portTxt h3{ font-size:20px; color:#000; font-weight:700; padding:10px 0; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; word-break:break-word; }
.subPortBox .portList .portTxt .portTxt02{ font-size:14px; color:#7C7C7C; text-overflow:ellipsis; overflow:hidden; font-weight:500; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; word-break:break-word }
.subPortBox .portList .portTxt .lst_btn{ margin-top:30px; }
.subPortBox .portList .portTxt .lst_btn button{ display:inline-block; padding:5px 15px; border:1px solid #e0e0e0; color:#7C7C7C; }

.portCont02, .portContTab_lst{ display:none; }
.portCont02.active, .portContTab_lst.active{ display:block; }

.portContTab_lst .portList { position:relative; padding:15px 10px; border-bottom:1px solid #c9c9c9; }
.portContTab_lst .portList img.fadeImg{ position:fixed; top:0%; left:0%; width:350px; height:auto; pointer-events:none; z-index:9999; opacity: 0; }

.portContTab_lst .portList .portTxt{ display:flex; gap:10px; }

.portContTab_lst .portList .portTxt h3{ width:60%; }
.portContTab_lst .portList .portTxt h3 a{ color:#000; }
.portContTab_lst .portList .portTxt p{ width:30%; color:#7C7C7C; font-weight:500; text-align:center; font-style: italic; }
.portContTab_lst .portList .portTxt .infoBtn{ width:10%; display:flex; gap:10px; justify-content:center; }
.portContTab_lst .portList .portTxt .infoBtn a{ padding:5px 10px; background:#ffa500; color:#fff; font-size:14px; }

/* 소개 */
.aboutInfo{ width:100%; height:100vh; display:flex; align-items:center; }
.infInner{ width:1440px; height:100%; margin:0 auto; }
.aboutFix{ display:flex; align-items:center; gap:40px; height:100%; }
.aboutTitle_L{ width:50%; padding:0 80px; }
.aboutTitle_L h2{ color:#000; font-family:"Lalezar", system-ui; font-size:44px; font-weight:700; line-height: 1.3; }
.aboutTitle_R{ position:relative; width:50%; height:100vh; }
.aboutTitle_R .titleList{ position:absolute; width:100%; left:0; top:0; top:50%; transform:translateY(-50%); opacity: 1; height:100%; align-content:center; background:#fff; }
.aboutTitle_R .titleList h2{ font-size:26px; font-weight:700; color:#000; text-transform: uppercase; }
.aboutTitle_R .titleList p{ font-size: 18px; margin-top:30px; color:#7C7C7C; font-weight:500 }


.section .section-row .section-column {
    width: 100%;
}

.section3 .txt-wrap {
    width: fit-content;
    float: right;
    position: relative;
}
.flex-box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
;
}

.section3 .txt-wrap > li:nth-child(1) {
    margin-left: -72px;
}

.section3 .txt-wrap > li:nth-child(2) {
    margin-left: 55px;
}

.section3 .txt-wrap > li > ul > li {
    color: #000;
    border: 1px solid #B2B2B2;
    background:red;
    border-radius: 500px;
    box-sizing: border-box;
    padding: 35.5px 62px;
    font-size: 2.4rem;
    font-weight: 800;
    letter-spacing: -0.72px;
    width: fit-content;
    line-height: 1;
    transition: 0.3s;
    cursor: default;
    max-height: 97px;
}

.section3.animate .txt-wrap > li > ul > li.con7 {
    animation: slideAndRotateCon7 0.6s forwards;
    animation-delay: 1.5s;
}

.section3.animate .txt-wrap > li > ul > li.con8 {
    animation: slideAndRotateCon8 0.6s forwards;
    animation-delay: 1.7s;
}

.section3 .txt-wrap > li > ul > li:hover {
    background: #29D4C1;
    border: 1px solid #29D4C1;
}

.txt-wrap .txt-con, .txt-wrap .round {
    opacity: 0;
    transform: translateY(-20px);
}

/* 각 요소의 애니메이션 지연 시간 */
.section3.animate .txt-wrap .con1 {
    animation: fadeInDown 0.2s forwards;
    animation-delay: 0.1s;
}

.section3.animate .txt-wrap .con2 {
    animation: fadeInDown 0.2s forwards;
    animation-delay: 0.3s;
}

.section3.animate .txt-wrap .con3 {
    animation: fadeInDown 0.2s forwards;
    animation-delay: 0.5s;
}

.section3.animate .txt-wrap .con4 {
    animation: fadeInDown 0.2s forwards;
    animation-delay: 0.7s;
}

.section3.animate .txt-wrap .con5 {
    animation: fadeInDown 0.2s forwards;
    animation-delay: 0.9s;
}

.section3.animate .txt-wrap .con6 {
    animation: fadeInDown 0.2s forwards;
    animation-delay: 1.1s;
}

.section3.animate .txt-wrap .round {
    animation: fadeInDown 0.2s forwards;
    animation-delay: 1.3s;
}

/* con7과 con8의 미끄러지듯 내려오는 애니메이션 */
@keyframes slideAndRotateCon7 {
    0% {
        opacity: 0;
        transform: translateY(-50px) rotate(0deg);
        /* 회전 없음, 위쪽으로 이동 */
    }

    100% {
        opacity: 1;
        transform: translateY(0) rotate(24.98deg);
        /* 최종 위치와 회전 상태 */
        margin-left: -46px;
        margin-top: -38px;
    }
}

@keyframes slideAndRotateCon8 {
    0% {
        opacity: 0;
        transform: translateY(-50px) rotate(0deg);
        /* 회전 없음, 위쪽으로 이동 */
    }

    100% {
        opacity: 1;
        transform: translateY(0) rotate(50.24deg);
        /* 최종 위치와 회전 상태 */
        margin-left: -91px;
        margin-top: -51px;
    }
}
