@charset "utf-8";

.subPg{ position:relative; }
/* .subPg span, .subPg p, .subPg h2, .subPg h3, .subPg h4, .subPg h5, .subPg h6, .subPg strong, .subPg li, .subPg a{ color:#000; } */

/* .sub_port .pin-spacer{ margin:0 !important; padding:0 !important; height:0 !important; } */

.sub_port{ position:relative; width:100%; }
.subTopslideWrap{ position:relative }
.subTopSlide{ position:relative; width:100vw; height:100vh; background:#000; box-sizing: border-box; display:flex; justify-content:center; align-items:center;}
.subTopSlide .subTitle{ position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); transition:.3s ease-out;  z-index:1; }
.subTopSlide .subTitle .char{ font-family:"Lalezar", system-ui; font-size:120px; color:#ffa500; font-weight:700; letter-spacing:10px; text-transform: uppercase; }
.subTopSlide .subTitle.motion .char{ display:inline-block; animation:slide_up .4s cubic-bezier(.5,0,.5,1)both; animation-delay:calc(100ms * var(--char-index)) }
@keyframes slide_up{
    0%{transform:translateY(30px); opacity: 0;}
    30%{transform:translateY(30px); opacity: 0;}
}

/* 포트폴리오 */
.fixedWrap{ position:relative; width:100%; padding:100px 0 0; /*background:#fff*/ }
.portHead{ max-width:1440px; height:auto; margin:0 auto; padding:10px; }
.portHead h2{ font-size:35px; font-weight:600; color:#000; }
.portHead h2 span{ font-size:18px; color:#ffa500; padding-left:10px; }
.portHead p{ margin:20px 0 10px; color:#c9c9c9; font-size:16px;  font-weight:400 }

.portFilter_wrap{ width:1440px; margin:auto;  }
.portTab{ display:flex; justify-content: space-between; padding:15px 0; align-items:center; border-bottom:1px solid #c9c9c9; }

.portTab .portFilter{ display:flex; }
.portTab .portFilter span{ color:#000; }
.portTab .portFilter ul{ display:flex; gap:10px; align-items:center; padding-left:10px; }
.portTab .portFilter .port_filterring li.active{ display:block; }
.portTab .portFilter ul li{ position:relative; color:#7C7C7C; cursor:pointer; padding:0 10px; }
.portTab .portFilter ul li:hover{ color:#000;  }
.portTab .portFilter ul li:before, .portFilter ul li:after{ position:absolute; display:inline-block; opacity:0; -webkit-transition: transform .3s, opacity .2s; -moz-transition: transform .3s, opacity .2s; transition: transform .3s, opacity .2s }
.portTab .portFilter ul li:before{ content:'['; left:0; -webkit-transform: translateX(20px); -moz-transform: translateX(20px); transform: translateX(20px); }
.portTab .portFilter ul li:after{ content:']'; right:0; -webkit-transform: translateX(-20px); -moz-transform: translateX(-20px); transform: translateX(-20px) }
.portTab .portFilter ul li:hover:before, .portFilter ul li:hover:after, .portFilter ul li:focus:before, .portFilter ul li:focus:after, .portFilter ul li.active:before, .portFilter ul li.active:after{ opacity:1; -webkit-transform: translateX(0); -moz-transform: translateX(0); transform: translateX(0) }
/* .portTab .portFilter ul li.active{ display:block; color:#000; transition:all 3s; } */

.portFilter_wrap .port_switcher ul{ display:flex; }
.portFilter_wrap .port_switcher .switer-grid{ position:relative; color:#7C7C7C; cursor:pointer; }
.portFilter_wrap .port_switcher .switer-grid:nth-child(2){ padding-left:10px; margin-left:5px; }
.portFilter_wrap .port_switcher .switer-grid:nth-child(2):before{ content:'/'; position:absolute; width:10px; height:100%; left:0; top:0; }
.portFilter_wrap .port_switcher .switer-grid.active{ color:#000 }

.tab-content{ display:none; } 
.tab-content.active{ display:block; } 
.portTab02 { margin-top:20px; }
.portTab02 ul{ display:flex; }
.portTab02 ul li{ position:relative; cursor:pointer; margin:0 10px; overflow:hidden }
.portTab02 ul li span{ display:block; width:100%; height:100%; padding:8px 20px; color:#f19c00; border:1px solid #ffa500;  font-size:14px; box-sizing: border-box; }
.portTab02 ul li:after{ content:attr(data-hover); position:absolute; width:100%; height:100%; left:-100%; top:0; background:#fff; text-align:center; align-content:center; font-size:14px; transition:.3s; overflow:hidden; z-index:-1 }
.portTab02 ul li:hover span, .portTab02 ul li.active span  { color:#fff; transform:translateX(100%); width:100%; height:100%; }
.portTab02 ul li:hover:after, .portTab02 ul li.active:after{ background:#ffa500; left:0%; transform:translateX(0%); }
.portTab02 ul li.active:after span{ color:#fff; }

/* 포트폴리오 cont */
.tabGrid{ padding-bottom:100px; margin-top:40px; }
.portContTab{ display:none; }
.portContTab.active{ display:block; }

.subPortBox{ display:grid; grid-template-columns:1fr 1fr; grid-column-gap:30px; grid-row-gap:30px; }
.subPortBox .portList{ width:100%; overflow:hidden;     box-shadow: 0 0 7px 0 rgba(0, 0, 0, .1); transition: box-shadow .3s ease, transform .3s ease, -webkit-transform .3s ease; }
.subPortBox .portList:hover{ transform: translate3d(0, -6px, 0) !important; box-shadow: 0 .8125rem 1rem rgba(35, 35, 35, .15) !important; }
.subPortBox .portList .portThumb{ height:360px; border-bottom:1px solid #ededed; background:#fff; }
.subPortBox .portList .portThumb img{ width:100%; height:100%; object-fit: contain; }
.subPortBox .portList .portTxt{ position:relative; padding:20px; background:#fff; }
.subPortBox .portList .portTxt ul{ padding:0; }
.subPortBox .portList .portTxt ul .type{ display:inline-block; padding:5px 20px 7px; background:#28bc9e; color:#fff; font-size:13px; line-height: 1; border-radius:50px; }
.subPortBox .portList .portTxt h3{ font-size:20px; color:#000; font-weight:700; padding:10px 0; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; word-break:break-word; }
.subPortBox .portList .portTxt .portTxt02{ font-size:14px; color:#7C7C7C; text-overflow:ellipsis; overflow:hidden; font-weight:500; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; word-break:break-word }
.subPortBox .portList .portTxt .lst_btn{ margin-top:30px; }
.subPortBox .portList .portTxt .lst_btn button{ display:inline-block; padding:5px 15px; border:1px solid #e0e0e0; color:#7C7C7C; }

.portCont02, .portContTab_lst{ display:none; }
.portCont02.active, .portContTab_lst.active{ display:block; }

.portContTab_lst .portList { position:relative; padding:15px 10px; border-bottom:1px solid #c9c9c9; }
.portContTab_lst .portList img.fadeImg{ position:fixed; top:0%; left:0%; width:350px; height:auto; pointer-events:none; z-index:9999; opacity: 0; }

.portContTab_lst .portList .portTxt{ display:flex; gap:10px; }

.portContTab_lst .portList .portTxt h3{ width:60%; }
.portContTab_lst .portList .portTxt h3 a{ color:#000; }
.portContTab_lst .portList .portTxt p{ width:30%; color:#7C7C7C; font-weight:500; text-align:center; font-style: italic; }
.portContTab_lst .portList .portTxt .infoBtn{ width:10%; display:flex; gap:10px; justify-content:center; }
.portContTab_lst .portList .portTxt .infoBtn a{ padding:5px 10px; background:#ffa500; color:#fff; font-size:14px; }

/*  about - 소개 */
.aboutInfo{ width:100%; height:100vh; display:flex; align-items:center; }
.infInner{ width:1440px; height:100%; margin:0 auto; }
.aboutFix{ display:flex; align-items:center; gap:40px; height:100%; }
.aboutTitle_L{ width:40%; padding-right:40px; }
.aboutTitle_L h2{ color:#000;  font-size:40px; font-weight:700; line-height: 1.3; }
.aboutTitle_L .aboutImg.motion h2{ animation:fadeIn_img .4s cubic-bezier(.5,0,.5,1)both; animation-delay:calc(100ms * var(--char-index)); transition:.1s }

@keyframes fadeIn_img{
    0%{ opacity: 0;}
    30%{ opacity: 1;}
}
.aboutTitle_L .aboutImg img{ width:100%; height:100%; object-fit: contain; }
.aboutTitle_R{ position:relative; width:60%; height:100vh; }
.aboutTitle_R .titleList{ position:absolute; width:100%; left:0; top:0; top:50%; transform:translateY(-50%); opacity: 1; height:100%; align-content:center; }
.aboutTitle_R .titleList h2{ color:#000; font-size:28px; font-weight:700; line-height:1.4; letter-spacing:-1px; }
.aboutTitle_R .titleList p{ color:#7C7C7C; font-weight:400; line-height:1.8; word-break:keep-all; }
.aboutTitle_R .titleList p { margin-top:30px; }
.aboutTitle_R .titleList p span{ display:inline-block; font-size: 18px;  color:#7C7C7C; font-weight:500; }


/* about -  */
.aboutScrollX{ position:relative; width:100vw; }
.aboutScrollX .scrollXCont{ position:sticky; overflow:hidden; top:0; width:100%; height:100vh; display:flex; align-items:center; }
.aboutScrollX .scrollXWrap{ display:flex; align-items:center; justify-content: center; width:200vw; }
.sclXTxt{ display:flex; flex-direction: column; }
.sclXTxt .personlity{ display:flex; margin-left:10vw }
.sclXTxt .personlity p{ display:flex; flex-direction: column; white-space:nowrap; margin-right:2vw;  }
.sclXTxt .personlity p span{ font-size:10vw; color:#c9c9c9; text-transform: uppercase; }
.sclXTxt .personlity p .perEn{ font-size:3.6vw; color:#c9c9c9; }

/* about - tool */
.toolCon{ width:100vw; height:100vh; position:relative; margin:10vh 0; }
.toolCon .toolConWrap{ height:100%; padding:0 7vw; align-content:center; }
.toolCon .toolConWrap h3{ font-family:"Lalezar", system-ui; font-size:80px; font-weight:600; text-align:center; text-transform: uppercase; letter-spacing: 2px; }
.toolCon .toolConWrap > p{ font-size:20px; font-weight:500; text-align:center; }
.toolBox{ margin-top:100px; position:relative; display:flex; gap:40px; }
.toolBox .toolCard{ width:25%; background:#fff; padding:30px 40px; border-radius: 20px; border:1px solid #000; cursor:pointer; transition:all .3s ease; }

.toolBox .toolCard:nth-child(1){ transform:translateX(35px) rotate(-3deg) }
.toolBox .toolCard:nth-child(2){ transform:translate(10px,-6px) rotate(3deg) }
.toolBox .toolCard:nth-child(3){ transform:translateX(-25px) rotate(-3deg) }
.toolBox .toolCard:nth-child(4){ transform:translate(-60px,-10px) rotate(2deg) }

.toolBox .toolCard.active{ z-index:1 }
:where()
.toolBox .toolCard.active:nth-child(1){ transform:translateX(30px) rotate(0) }
.toolBox .toolCard.active:nth-child(2){ transform:translateX(6px) rotate(0deg) }
.toolBox .toolCard.active:nth-child(2):has(.toolCard:nth-child(1)) { transform:translateX(15px) }
.toolBox .toolCard.active:nth-child(3){ transform:translateX(-24px) rotate(0deg); }
.toolBox .toolCard.active:nth-child(4){ transform:translateX(-36px) rotate(0) }

.toolBox .toolCard.active:nth-child(1) + .toolCard:nth-child(2){ transform:translateX(20px) rotate(3deg) }
.toolBox .toolCard.active:nth-child(2) + .toolCard:nth-child(3){ transform:translateX(-10px) rotate(-3deg) }
.toolBox .toolCard.active:nth-child(3) + .toolCard:nth-child(4){transform:translateX(-35px) rotate(3deg)}

.toolBox .toolCard .list{ padding:50px 0 100px; }
.toolBox .toolCard ul li + li{ margin-top:25px; }
.toolBox .toolCard ul li p{ color:#000; font-size:20px; font-weight:500; line-height:1.2 }
.toolBox .toolCard ul li p em{ color:#000; font-size:14px; float:right; margin-top:3px; }
.toolBox .toolCard ul li .useTool { height:10px; border-radius:50px; background:#ededed; margin:7px 0; }
.toolBox .toolCard ul li .useTool .toolChart{ display:block; padding:0 10px; height:10px; background:#ffa500; border-radius:50px; box-sizing: border-box; }

.toolBox .toolCard ul li .useTool .chart01{ width:90% }
.toolBox .toolCard ul li .useTool .chart02{ width:80% }
.toolBox .toolCard ul li .useTool .chart03{ width:30% }
.toolBox .toolCard ul li .useTool .chart04{ width:30% }
.toolBox .toolCard ul li .useTool .chart05{ width:60% }
.toolBox .toolCard ul li .useTool .chart06{ width:80% }
.toolBox .toolCard ul li .useTool .chart07{ width:80% }
.toolBox .toolCard ul li .useTool .chart08{ width:50% }
.toolBox .toolCard ul li .useTool .chart09{ width:30% }
.toolBox .toolCard ul li .useTool .chart11{ width:10% }


.toolBox .toolCard ul li .cardTxt p{ font-size:16px; color:#7C7C7C }

.toolBox .toolCard .toolTitle{ position:absolute; left:50%; bottom:30px; transform:translateX(-50%); }
.toolBox .toolCard .toolTitle h4{ color:#000; text-align:center; text-transform: uppercase; font-family:"Lalezar", system-ui; font-size:30px; font-weight:600; line-height:1; }

