@charset "utf-8";

.subPg{ position:relative; }
.subPg span, .subPg p, .subPg h2, .subPg h3, .subPg h4, .subPg h5, .subPg h6, .subPg strong, .subPg li, .subPg a{ color:#000; }

/* .sub_port .pin-spacer{ margin:0 !important; padding:0 !important; height:0 !important; } */

.sub_port{ position:relative; width:100%; }
.subTopslideWrap{ position:relative }
.sub_port .subTopSlide{ position:relative; width:100vw; height:100vh; background:#000; box-sizing: border-box; display:flex; justify-content:center; align-items:center;}
.sub_port .subTopSlide .subTitle{ position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); transition:.3s ease-out; animation:headTite .3s cubic-bezier(.5,0,.5,1)both; z-index:1; }
.sub_port .subTopSlide .subTitle .char{ font-family:"Lalezar", system-ui; font-size:120px; color:#ffa500; font-weight:700; letter-spacing:10px; text-transform: uppercase; }

.sub_port .subTopSlide .subTitle.motion .char{ display:inline-block; animation:slide_up .4s cubic-bezier(.5,0,.5,1)both; animation-delay:calc(100ms * var(--char-index)) }
/* 
@keyframes headTite{
    0%{ left:50%; top:50%; transform:translate(-50%, -50%); }
    80%{ left:0; top:0; transform: (0,0); font-size:30px; }
    100%{ top:-100%; opacity:0; }
} */

@keyframes slide_up{
    0%{transform:translateY(30px); opacity: 0;}
    30%{transform:translateY(30px); opacity: 0;}
}

.fixedWrap{ position:relative; width:100%; padding:30px 0 0; /*background:#fff*/ }
.portHead{ max-width:1440px; height:auto; margin:0 auto; padding:10px; }
.portHead h2{ font-size:35px; font-weight:600; color:#000; }
.portHead h2 span{ font-size:18px; color:#ffa500; padding-left:10px; }
.portHead p{ margin:20px 0 10px; color:#c9c9c9; font-size:16px;  font-weight:400 }

.portFilter_wrap{ width:1440px; margin:auto;  }
.portTab{ display:flex; justify-content: space-between; padding:15px 0; align-items:center; border-bottom:1px solid #c9c9c9; }

.portTab .portFilter{ display:flex; }
.portTab .portFilter ul{ display:flex; gap:10px; align-items:center; padding-left:10px; }
.portTab .portFilter .port_filterring.on li{ display:block; }
.portTab .portFilter ul li{ position:relative; color:#7C7C7C; cursor:pointer; padding:0 10px; }
.portTab .portFilter ul li:hover{ color:#000;  }
.portTab .portFilter ul li:before, .portFilter ul li:after{ position:absolute; display:inline-block; opacity:0; -webkit-transition: transform .3s, opacity .2s; -moz-transition: transform .3s, opacity .2s; transition: transform .3s, opacity .2s }
.portTab .portFilter ul li:before{ content:'['; left:0; -webkit-transform: translateX(20px); -moz-transform: translateX(20px); transform: translateX(20px); }
.portTab .portFilter ul li:after{ content:']'; right:0; -webkit-transform: translateX(-20px); -moz-transform: translateX(-20px); transform: translateX(-20px) }
.portTab .portFilter ul li:hover:before, .portFilter ul li:hover:after, .portFilter ul li:focus:before, .portFilter ul li:focus:after, .portFilter ul li.active:before, .portFilter ul li.active:after{ opacity:1; -webkit-transform: translateX(0); -moz-transform: translateX(0); transform: translateX(0) }
/* .portTab .portFilter ul li.active{ display:block; color:#000; transition:all 3s; } */

.portFilter_wrap .port_switcher ul{ display:flex; }
.portFilter_wrap .port_switcher .switer-grid{ position:relative; color:#7C7C7C; }
.portFilter_wrap .port_switcher .switer-grid:nth-child(2){ padding-left:10px; margin-left:5px; }
.portFilter_wrap .port_switcher .switer-grid:nth-child(2):before{ content:'/'; position:absolute; width:10px; height:100%; left:0; top:0; }
.portFilter_wrap .port_switcher .switer-grid.active{ color:#000 }

.portTab02 { margin-top:20px; }
.portTab02 ul{ display:flex; }
.portTab02 ul li{ position:relative; cursor:pointer; margin:0 10px; overflow:hidden }
.portTab02 ul li span{ display:block; width:100%; height:100%; padding:8px 20px; color:#000; border:1px solid #ffa500;  font-size:14px; box-sizing: border-box; }
.portTab02 ul li:after{ content:attr(data-hover); position:absolute; width:100%; height:100%; left:-100%; top:0; background:#fff; text-align:center; align-content:center; font-size:14px; transition:.3s; overflow:hidden; z-index:-1 }
.portTab02 ul li:hover span{ color:#fff; transform:translateX(100%); width:100%; height:100%; }
.portTab02 ul li:hover:after, .portTab02 ul li.active:after{ background:#ffa500; left:0%; transform:translateX(0%); }

/* 포트폴리오 cont */
.portCont { margin-top:20px; display:none; }
.portCont.active{ display:block; }
.portContTab{ display:none; }
.portContTab.active{ display:block; }
.subPortBox{ display:flex; flex-wrap:wrap; gap:2vw 2vh; }
.subPortBox .portList{ width:45%; overflow:hidden;  }
.subPortBox .portList .portThumb{ width:100%; position:relative; padding-top:calc(50 /100*100%); background:url(../images/thumb01.jpeg)no-repeat top center; background-size:contain; }
.subPortBox .portList .portTxt{ position:absolute; padding:20px 10px; bottom:-100%; left:0; background:#ffa500; border-radius:20px 20px 0 0; opacity: 0; transition:all .3s }
.subPortBox .portList:hover .portTxt{ position:absolute; bottom:0; left:0; opacity:1; }

.portCont02.active{ display:block; }
.portCont02 .portContTab_lst{ margin-top:20px; }
.portCont02 .portContTab_lst .portList { padding:15px 10px; border-bottom:1px solid #c9c9c9; }
.portCont02 .portContTab_lst .portList .portTxt{ display:flex; }
.portCont02 .portContTab_lst .portList .portTxt h3{ color:#000; }
.portCont02 .portContTab_lst .portList .portTxt p{ margin-left:40%; color:#7C7C7C; font-weight:500 }
.portCont02 .portContTab_lst .portList .portTxt .infoBtn{ margin-left:auto; display:flex; gap:10px; }
.portCont02 .portContTab_lst .portList .portTxt .infoBtn a{ padding:5px 10px; background:#ffa500; color:#fff; font-size:14px; }
